<div xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱地址：</label>
            <div class="layui-input-inline">
                <p th:text="${email}"></p>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formfindPwd" style="width:150px;">发送邮件</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formfindPwd)', function(data){
            $.post("/user/findPwd",{},function (result) {
                if(0!=result.code){
                    layer.msg(result.msg);
                    return false;
                }
                layer.msg(result.msg);
            });

            return false;
        });
    });
</script>