<!DOCTYPE html>
<html>
<head>
    <title>文件上传示例</title>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        //让该页面在iframe中展示时,iframe的高度能自适应
        $(function () {
            var h=document.body.scrollHeight;
            parent.document.getElementById("homeTab").style.height=h+"px";
        });
    </script>
</head>
<body>
<h2>文件上传示例</h2>
<hr/>
<form method="POST" enctype="multipart/form-data" action="/upload">
    <p>
        文件：<input type="file" name="file" />
    </p>
    <p>
        <input type="submit" value="上传" />
    </p>
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello<br/>hello<br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello<br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello
    <br/>hello


</form>


</body>
</html>