<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>材料BOM查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/css/common.css">

    <script src="/js/jquery.min.js" ></script>
    <script type="text/javascript">
        //让该页面在iframe中展示时,iframe的高度能自适应
        $(function () {
            var h=document.body.scrollHeight;
            parent.document.getElementById("menu6").style.height=h+"px";
        });

        $("#totalPrice").html('<i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>');
        $.get("/material/getTotalPrice?t="+new Date().getTime(),function (data) {
            $("#totalPrice").html("总价:"+data);
        });
    </script>
</head>
<body>
<div class="demoTable">
    <div class="layui-inline">
        <input class="layui-input" name="cpscode" id="cpscode" placeholder="子件编码(cpscode)" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" name="cinvname" id="cinvname" placeholder="子件名称(cinvname)" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" name="cinvstd" id="cinvstd" placeholder="规格型号(cinvstd)" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" name="type" id="type" placeholder="类型" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="search"><i class="layui-icon">&#xe615;</i></button>
    <span id="totalPrice" style="margin-left: 15px;"></span>
</div>

<table id="mtlTable" lay-filter="mtlTableFilter">
</table>
<script type="text/html" id="mtlOp">
    <a class="layui-btn layui-btn-mini" lay-event="viewPrice">阶梯价</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>

<div class="demoTable">
    <div class="layui-inline">
        <input class="layui-input" name="cpscode" id="cpscode1" placeholder="子件编码(cpscode)" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" name="cinvname" id="cinvname1" placeholder="子件名称(cinvname)" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" name="cinvstd" id="cinvstd1" placeholder="规格型号(cinvstd)" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" name="type" id="type1" placeholder="类型" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" name="type" id="ipsquantity" placeholder="默认基本用量分子" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="addMtl"><i class="layui-icon"></i></button>
</div>


<div class="layui-upload-drag layui-inline" id="uploadExcel">
    <i class="layui-icon"></i>
    <div style="text-align: left">
        <p>1. 点击上传或拖拽excel到此处批量导入数据</p>
        <p>2. 限制xls/xlsx格式, 大小10M以内</p>
        <p>3. 导入数据格式请参考示例文件, 子件编码重复的数据只会导入一次</p>
        <p>4. 每次导入新数据,原有的数据会被全部清空!!!</p>
    </div>
</div>
<div clas="layui-inline">
    <i class="layui-icon" ></i>
    <a href="/material/downloadSampleExcel">点击下载示例Excel</a>
</div>


<script src="/layui/layui.js" charset="utf-8"></script>
<script>
    var element;
    layui.use('element', function () {
        element = layui.element;

    });

    layui.use('table', function(){
        var table = layui.table;
        table.render({
            id:'mtlTableId',
            elem:'#mtlTable',
            url:'/material/query?t='+new Date().getTime(),
            //height:500,
            width:1248,
            page:true,
            limits: [10,20,50,100],
            limit:10,
            loading:true,
            cols:  [[ //标题栏
                {checkbox: true, fixed:true},
                {field: 'id', title: 'ID', width: 80, sort:true, fixed:true},
                {field: 'cpscode', title: '子件编码', width: 120, edit:'text'},
                {field: 'cinvname', title: '子件名称', width: 150, edit:'text'},
                {field: 'cinvstd', title: '规格型号', width: 320, edit:'text'},
                {field: 'type', title: '类型', width: 100, edit:'text'},
                {field: 'ipsquantity', title: '基本用量分子', width: 120, edit:'text'},
                {fixed: 'right', align: 'center', width: 120, toolbar:"#mtlOp"}
            ]]
        });

        //监听工具条
        table.on('tool(mtlTableFilter)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'viewPrice'){ //查看
                $.get("/material/viewPrice?materialId="+data.id,function (data) {
                    layer.open({
                        type: 1,
                        offset: '10px',
                        title:"阶梯价格信息",
                        content: data
                    });
                });
            }
            if(layEvent === 'del'){ //删除
                layer.confirm('确定删除吗?',{offset:'10px'}, function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    $.post("/material/deleteMaterial",{id:data.id},function (data) {
                        layer.msg(data.msg,{offset:'10px'});
                    });
                });
                return false;
            }
        });
        table.on('edit(mtlTableFilter)',function(obj){
            var value =obj.value
                ,data =obj.data
                ,field =obj.field;

            layer.load(0, { shade: 0.3});
            $.post("/material/updateMaterial",{id:data.id,cpscode:data.cpscode,cinvname:data.cinvname,cinvstd:data.cinvstd,type:data.type,ipsquantity:data.ipsquantity, field:field},function (data) {
                if(data.code!=0){
                    layer.closeAll('loading');
                    layer.msg(data.msg,{offset:'10px'});
                    return false;
                }
                $("#totalPrice").html("总价:"+data.data);
                layer.closeAll('loading');
                layer.msg(data.msg,{offset:'10px'});
                return false;
            });
        });

        var $ = layui.$, active = {
            search: function(){
                table.reload('mtlTableId', {
                    where: {
                        cpscode: $('#cpscode').val(),
                        cinvname: $('#cinvname').val(),
                        cinvstd: $('#cinvstd').val(),
                        type: $('#type').val(),
                        random:Date.parse(new Date())
                    }
                });
            }
            ,refresh: function(){
                table.reload('mtlTableId', {
                    where: {
                        cpscode: $('#cpscode').val(),
                        cinvname: $('#cinvname').val(),
                        cinvstd: $('#cinvstd').val(),
                        type: $('#type').val(),
                        random:Date.parse(new Date())
                    }
                });
            }
            ,addMtl:function () {
                var cpscode=$("#cpscode1").val();
                var cinvname=$("#cinvname1").val();
                var cinvstd=$("#cinvstd1").val();
                var type=$("#type1").val();
                var ipsquantity=$("#ipsquantity").val();

                if(cpscode.replace(/(^s*)|(s*$)/g, "").length ==0){
                    layer.msg("子件编码不能为空");
                    return false;
                }
                if(cinvname.replace(/(^s*)|(s*$)/g, "").length ==0){
                    layer.msg("子件名称不能为空");
                    return false;
                }
                if(cinvstd.replace(/(^s*)|(s*$)/g, "").length ==0){
                    layer.msg("规格型号不能为空");
                    return false;
                }
                if(type.replace(/(^s*)|(s*$)/g, "").length ==0){
                    layer.msg("类型不能为空");
                    return false;
                }
                if(ipsquantity.replace(/(^s*)|(s*$)/g, "").length ==0 || isNaN(ipsquantity)){
                    layer.msg("基本用量分子须为数字");
                    return false;
                }

                layer.load(0, { shade: 0.3});
                $.post("/material/add",{cpscode:cpscode,cinvname:cinvname,cinvstd:cinvstd,type:type,ipsquantity:ipsquantity},function (data) {
                    table.reload('mtlTableId', {
                        where: {
                            cpscode: $('#cpscode').val(),
                            cinvname: $('#cinvname').val(),
                            cinvstd: $('#cinvstd').val(),
                            type: $('#type').val(),
                            random:Date.parse(new Date())
                        }
                    });

                    layer.closeAll('loading');
                    layer.msg(data.msg);
                });

                return false;
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    layui.use('upload',function() {
        var $ = layui.jquery;
        var upload = layui.upload;

        upload.render({
            elem:'#uploadExcel'
            ,url:'/material/upload'
            ,accept:'file'
            ,exts:'xlsx|xls'
            ,multiple:false
            ,before:function(obj){
                layer.load(0, { shade: 0.3});
            }
            ,done:function(res){
                layer.closeAll('loading');
                layer.msg(res.msg,{offset:"10px"});
                if(res.code==0){
                    //上传excel数据导入成功后刷新页面
                    window.location.reload();
                }
            }
            ,error:function (index,upload) {
                layer.closeAll('loading');
                layer.msg("上传出现错误了");
            }
        });
    });
</script>

</body>
</html>